.App {
  font-family: sans-serif;
  text-align: center;
  
}
body {
  margin: 0;
  background: rgb(179, 204, 255);
}
#heading {
  margin: 0;
  text-align: left;
  padding: 5px;
  background: white;
  font-size: 30px;
}
#heading img {
  height: 25px;
  border-radius: 50%;
}
#post-head {
  text-align: left;
  margin: 2% 5%;
  width: 50%;
  border-bottom: 2px solid grey;
}
.Post img {
  height: 25px;
  border-radius: 50%;
}
.Post-List {
  display: flex;
  min-width: 70%;
  flex-direction: column;
  align-items: flex-start;
}
.post {
 width: 80%;
  
  display: flex;
  margin: 2%;

  background-color: white;
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
}
.post-user {
  margin-top: 0;
  margin-left: 1%;;
  font-size: 10px;
  color: grey;
  text-align: left;
}
.post-text {
  margin: 0 1%;
  text-align: left;
  overflow-wrap: break-word;
}
.votes {
  background-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  padding: 5px;
}

.votes p {
  margin: 0;
}

.votes img {
  height: 10px;
  padding: 5px;
  text-align: center;
}
.upvote:hover {
  background-color: green;
  border-radius: 50%;
}
.downvote:hover {
  background-color: red;
  border-radius: 50%;
}

.comment {
  width: 80%;
}
.post-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 90%;
}
.comment-head {
  text-align: left;
  margin-right: 10px;;
  font-size: 13px;
  color: grey;
}
.sub-info {
  display: inline-block;
  min-height: 60vh;
  min-width: 30%;
  border-radius: 3px;
  background-color: white;
  box-shadow: 1px 2px 7px rgba(50, 50, 50, 0.75);
}
.sub-info h4 {
  margin: 0;
  padding: 5%;

  color: white;
  background-color: #014980;
}

.sub-info p {
  padding: 5px;
  overflow-wrap: break-word;
}
.main-wrapper {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-around;
 
}

.lowerBar{
  display: flex;
  margin: 0 1%;
}